@font-face {
    font-family: "Rubik";
    src: url("../assets/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Oxanium";
    src: url("../assets/Oxanium-Regular.ttf");
}

:root{
    --firstDiv: #0d0d2b;
    --hoverColor: #5c59a5;
    --callToAction: #3671e9;
}

*{
    padding: 0;
    margin: 0;
}

body{
    //overflow: hidden;
}

.firstDiv{
    background-color: var(--firstDiv);
    width: 100vw;
    color: white;
    overflow: hidden;
    .topper{
        padding: 20px 0;
        width: 100vw;
        //border: 1px solid white;
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: space-between;
        img{
            margin: 0 35px;
        }
        .topper_right{
            display: inherit;
            align-items: center;
            height: 100%;
            margin: 0 30px;
            ul{
                list-style-type: none;
                li{
                    float: left;
                    padding: 15px;
                    font-size: 16px;
                    font-family: 'Oxanium';
                    cursor: pointer;
                    transition: .3s;
                    &::after{
                        content: "";
                        display: block;
                        width: 0%;
                        height: 1px;
                        background-color: var(--hoverColor);
                        transition: .5s;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
            .loginRegister{
                margin: 0 20px;
                display: inherit;
                align-items: center;
                justify-content: center;
                height: 100%;
                p{
                    padding: 10px 15px;
                }
                .buttons{
                    font-size: 16px;
                    font-family: "Oxanium";
                    text-align: center;
                    cursor: pointer;
                }
                .register{
                    width: 5rem;
                    border-radius: 50px;
                    background-color: var(--callToAction);
                }
            }
        }
    }
}