@font-face {
    font-family: "Rubik";
    src: url("../assets/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Oxanium";
    src: url("../assets/Oxanium-Regular.ttf");
}

:root{
    --firstDiv: #0d0d2b;
    --hoverColor: #5c59a5;
    --callToAction: #3671e9;
    --NeutralGrey: #e0e0e0;
}

*{
    padding: 0;
    margin: 0;
}

body{
    //overflow-y: scroll;
    overflow-x: hidden;
}

.firstDiv{
    background-color: var(--firstDiv);
    width: 100vw;
    height: fit-content;
    color: white;
    overflow: hidden;
    .topper{
        padding: 20px 0;
        width: 100vw;
        //border: 1px solid white;
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: space-between;
        img{
            margin: 0 35px;
        }
        .topper_right{
            display: inherit;
            align-items: center;
            height: 100%;
            margin: 0 30px;
            ul{
                list-style-type: none;
                li{
                    float: left;
                    padding: 15px;
                    font-size: 16px;
                    font-family: 'Oxanium';
                    cursor: pointer;
                    transition: .3s;
                    &::after{
                        content: "";
                        display: block;
                        width: 0%;
                        height: 1px;
                        background-color: var(--hoverColor);
                        transition: .5s;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
            .loginRegister{
                margin: 0 25px;
                display: inherit;
                align-items: center;
                justify-content: center;
                height: 100%;
                p{
                    padding: 7px 7px;
                    margin: 0 5px;
                }
                .buttons{
                    font-size: 16px;
                    font-family: "Oxanium";
                    text-align: center;
                    cursor: pointer;
                }
                .register{
                    width: 5rem;
                    border-radius: 50px;
                    background-color: var(--callToAction);
                }
            }
        }
    }
    .landingMessage{
        display: flex;
        padding: 10px;
        .contents{
            height: 30rem;
            padding: 0 30px;
            display: flex;
            justify-content: center;
        }
        .landingMessageLeft{
            flex-direction: column;
            width: 40vw;
            .save{
                background-color: #4b5563;
                width: fit-content;
                padding: 4px 8px 4px 4px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                margin: 10px 0;
                .saveMsg{
                    background-color: white;
                    border-radius: 15px;
                    color: var(--hoverColor);
                    font-family: "Oxanium";
                    font-size: 12px;
                    padding: 5px 10px;
                    text-align: center;
                }
                .saveMsg2{
                    background-color: transparent;
                    font-family: "Oxanium";
                    margin-left: 20px;
                    font-size: 13px;
                }
            }
            h1{
                font-family: "Oxanium";
                font-size: 2.8rem;
            }
            .underHeader{
                font-size: 12px;
                font-family: "Oxanium";
                color: var(--NeutralGrey);
            }
            .tryBtn{
                width: fit-content;
                padding: 5px 30px;
                margin: 19px 0;
                font-family: "Oxanium";
                font-size: 18px;
                border: 0;
                outline: 0;
                border-radius: 50px;
                background-color: var(--callToAction);
                color: white;
                display: flex;
                align-items: center;
                div{
                    // background-color: white;
                    text-align: center;
                    color: white;
                    padding: 8px;
                    border-radius: 50%;
                }
            }
        }
        .landingMessageRight{
            width: 60vw;
            background-image: url("../images/landing-right.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
    .bragmuch{
        display: flex;
        background-color: transparent;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .bragcount{
            width: fit-content;
            //border: 1px solid white;
            padding: 5px;
            display: flex;
            align-items: center;
            margin: 0 30px;
            .image{
                padding: 10px;
                width: fit-content;
                border-radius: 50%;
                background-color: #4b5563;
            }
            .write{
                padding: 20px;
                font-family: "Oxanium";
                height: 100%;
                display: flex;
                //align-items: center;
                justify-content: center;
                flex-direction: column;
                h2,p{
                    padding: 0;
                    margin: 0;
                }
                p{
                    color: #4b5563;
                    font-size: 14px;
                }
            }
        }
    }

    .whyus{
        display: flex;
        justify-content: center;
        align-items: center;
        .imageLeft{
            width: 45vw;
            height: 30rem;
            background-image: url("../images/why image.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .whyusRight{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: "Oxanium";
            font-size: 1.6rem;
            padding: 10px;
            h1{
                font-weight: 100;
            }
            p{
                font-size: 17px;
                width: 36rem;
                padding: 5px;
                color: #4b5563;
            }
            .learnMore{
                background-color: var(--callToAction);
                width: fit-content;
                padding: 8px 15px;
                color: white;
                border-radius: 50px;
                font-family: "Oxanium";
                font-size: 16px;
                border: 0;
                cursor: pointer;
            }
        }
    }

    .howMuch{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Oxanium";
        padding: 20px;
        h3{
            font-size: 1.2rem;
        }
        p{
            color: #4b5563;
            font-size: 14px;
        }
    }
}